doctype html
html
  head
    title Character Reveal
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/characterScan.css")
  body
    .character-container
      h3 #{username}
      p Your character is
      h1.character-name #{name}
      .image-box
        img.character-img(src=`/img/${image}`, alt=name)
      p.description You must not let other players know your character
