doctype html
html
  head
    title Waiting Room
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/waitingroom.css")
    script(src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js")
  body
    .container
      img.title(src="/img/Pick&ScanTitle.png", alt="Pick & Scan")

      button#start-button Open Cam

      .qr-border
        #reader

      p#qr-reader-results
    script(src="/js/WaitingRoom.js")
