doctype html
html
  head
    title You Are the Winner
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/winner.css")
    script.
      function exitGame() {
        window.open('', '_self').close(); // Attempt to close the window
      }
  body
    img.title(src="/img/winner.png", alt="winner")
    h1 Congrats! #{username}

    br
    button.button(onclick="exitGame()") Exit 
