body {
  background-image: url('/img/winnerbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: Segoe UI, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  max-width: 300px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  font-size: 1rem;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #7d75f9;
  color: white;
  text-decoration: none;
  border-radius: 23px;
}